# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
.eggs/

# Environment
.env
*.local

# OS
.DS_Store
Thumbs.db

# Odoo
*.pyc
filestore/
sessions/
/python-libs
/addons/muk*
/addons/base_account*